* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Form Grand Parent */
#main-form {
  display: flex;

  align-items: center;
  flex-direction: column;
}

/* Form Parent */
#form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 43rem;
  width: 35rem;
  box-shadow: 0px 0px 4px gray;
  margin-top: 3rem;
  align-items: center;
  gap: 6rem;
}

label {
  position: absolute;
  margin: -2rem 0rem;
  font-size: 1.2rem;
}
::placeholder {
  padding: 10px;
}
#name {
  width: 21rem;
  height: 2.8rem;
}
#business {
  width: 21rem;
  height: 2.8rem;
}
#mobile {
  width: 21rem;
  height: 2.8rem;
}
#email {
  width: 21rem;
  height: 2.8rem;
}
#register-button {
  height: 3rem;
  width: 9rem;
  font-size: 1.5rem;
  background-color: #060630;
  color: azure;
}

.star {
  color: red;
}

/* Alert Description Container */
#form-strip {
  width: 100vw;
  height: 6rem;
  background-color: #060630;
margin-top: 1rem;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  gap: 1.5rem;
}

#alert {
  position: absolute;

  margin: -0.8rem -0.7rem;

  font-size: 1.3rem;
}


/* Design For Small Devices */
@media (max-width: 300px) {
    #form-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 25rem;
        width: 15rem;
        box-shadow: 0px 0px 4px gray;
        margin-top: 3rem;
        align-items: center;
        gap: 3rem;
      }
      #name {
        width: 8rem;
        height: 1.5rem;
        border: 1px solid gray;
      }
      #business {
        width: 8rem;
        height: 1.5rem;
        font-size: 10px;
        border: 1px solid gray;
      }
      #mobile {
        width: 8rem;
        height: 1.5rem;
        border: 1px solid gray;
      }
      #email {
        width: 8rem;
        height: 1.5rem;
        border: 1px solid gray;
      }
      label {
        position: absolute;
        margin: -2rem 0rem;
        /* font-size: 1.2rem; */
      }
      ::placeholder {
        padding: 2px;
      }
      #button {
        height: 2rem;
        width: 7rem;
        font-size: 1.2rem;
        background-color: #060630;
        color: azure;
      }
      #form-strip {
        width: 100vw;
        height: 4rem;
        background-color: #060630;
    
        color: aliceblue;
        display: flex;
     
        font-size: 10px;   
      }
      #alert {
        position: absolute;
      
        margin: -1.3rem 0.4rem;
      
        font-size: 10px;
      }
    
}

/* Design For Mobile */
@media (min-width: 301px) and (max-width: 480px) {
    #form-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 25rem;
        width: 15rem;
        box-shadow: 0px 0px 4px gray;
        margin-top: 3rem;
        align-items: center;
        gap: 3rem;
      }
      #name {
        width: 8rem;
        height: 1.5rem;
        border: 1px solid gray;
      }
      #business {
        width: 8rem;
        height: 1.5rem;
        font-size: 10px;
        border: 1px solid gray;
      }
      #mobile {
        width: 8rem;
        height: 1.5rem;
        border: 1px solid gray;
      }
      #email {
        width: 8rem;
        height: 1.5rem;
        border: 1px solid gray;
      }
      label {
        position: absolute;
        margin: -2rem 0rem;
        /* font-size: 1.2rem; */
      }
      ::placeholder {
        padding: 2px;
      }
      #button {
        height: 2rem;
        width: 7rem;
        font-size: 1.2rem;
        background-color: #060630;
        color: azure;
      }
      #form-strip {
        width: 100vw;
        height: 4rem;
        background-color: #060630;
    
        color: aliceblue;
        display: flex;
     
        font-size: 10px;   
      }
      #alert {
        position: absolute;
      
        margin: -0.9rem 0.4rem;
      
        font-size: 10px;
      }
}

/* Design For Tablet */
@media (min-width: 481px) and (max-width: 769px) {
    #form-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 29rem;
        width: 31rem;
        box-shadow: 0px 0px 4px gray;
        margin-top: 3rem;
        align-items: center;
        gap: 3.4rem;
      }
      #name {
        width: 15rem;
        height: 1.8rem;
        border: 1px solid gray;
      }
      #business {
        width: 15rem;
        height: 1.8rem;
        font-size: 1rem;
        border: 1px solid gray;
      }
      #mobile {
        width: 15rem;
        height: 1.8rem;
        border: 1px solid gray;
      }
      #email {
        width: 15rem;
        height: 1.8rem;
        border: 1px solid gray;
      }
      label {
        position: absolute;
        margin: -2.2rem 0rem;
        /* font-size: 1.2rem; */
      }
      ::placeholder {
        padding: 2px;
      }
      #button {
        height: 3rem;
        width: 9rem;
        font-size: 1.8rem;
        background-color: #060630;
        color: azure;
      }
      #form-strip {
        width: 100vw;
        height: 4rem;
        background-color: #060630;
    
        color: aliceblue;
        display: flex;
     
        font-size: 12px;   
      }
      #alert {
        position: absolute;
      
        margin: -0.5rem 0.3rem;
      
        font-size: 15px;
      }
}

/* Design For Desktop */
@media (min-width: 770px) and (max-width: 1024px) {
    #form-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 37rem;
        width: 34rem;
        box-shadow: 0px 0px 4px gray;
        margin-top: 3rem;
        align-items: center;
        gap: 4.5rem;
      }
      #name {
        width: 18rem;
        height: 2.5rem;
        border: 1px solid gray;
      }
      #business {
        width: 18rem;
        height: 2.5rem;
        font-size: 1rem;
        border: 1px solid gray;
      }
      #mobile {
        width: 18rem;
        height: 2.5rem;
        border: 1px solid gray;
      }
      #email {
        width: 18rem;
        height: 2.5rem;
        border: 1px solid gray;
      }
      label {
        position: absolute;
        margin: -2.2rem 0rem;
        /* font-size: 1.2rem; */
      }
      ::placeholder {
        padding: 8px;
      }
      #button {
        height: 3rem;
        width: 9rem;
        font-size: 1.8rem;
        background-color: #060630;
        color: azure;
      }
      #form-strip {
        width: 100vw;
        height: 4rem;
        background-color: #060630;
    
        color: aliceblue;
        display: flex;
     
        font-size: 12px;   
      }
      #alert {
        position: absolute;
      
        margin: -0.5rem 0.3rem;
      
        font-size: 15px;
      }
}
