*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

#privacy-main-header{
    margin:5rem 3.5rem;
  font-weight: 500;
    font-size:2.2rem;
    color:#060630;
}
#privacy-policy{
    color:#060630;
    margin:0 4rem
}
/* *Tablet Design* */
@media (min-width:769px) and (max-width:1024px){
    #privacy-policy{
        color:#060630;
        margin:0 4rem;
        font-size: 1.2rem;
    }
}