*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#blog-first{
    display: flex;
    flex-direction: row;
    padding: 3rem;
    gap:2rem;
}
#blog-one-button{
    background-color: #060630;
    color: white;
    width:6rem;
    height: 2.5rem;
    border: 1px solid #060630;
}